pandas
numpy
matplotlib
networkx>=3.4.2,<4.0 #pin this version to match the version used in epx-client
folium
jupyterlab
plotly>=5.18.0,<6.0.0
# The notebooks in this repo depend on epx. This is assumed to be already
# installed in the environment at runtime since we don't currently have a
# robust way of installing it via pip.
# epx
